body{
    background: #7fa99b;
    font-family: 'New Tegomin', serif;
}

#title{
    font-size: 35px;
}

#user-result{
    font-family: 'New Tegomin', serif;
    font-size: 20px;  
}

#card-title-name{
    font-size: 35px;
    padding-bottom: 20px;
}
